@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root{
    --white-color: #fff;
    --light-color: #F2E6CE;
    --dark-color: #190204;
    --primary-color: #890F0D;
    --secondary-color: #9a938d;
    --lightgray-color: #eee;

    --lightweight-font: 'Montserrat', sans-serif;
    --text-font: 'Inter', sans-serif;
    --heavy-font: 'Alfa Slab One', cursive;

    --emphasis-shadow: 0px 8px 0 #000000, 5px -5px 0 #fff, -5px 10px 0 #fff, -5px -5px 0 #fff, 5px 0px 0 #fff, 0px 10px 0 #fff, -5px 0px 0 #fff, 5px 10px 0 #fff;
    --emphasis-shadow-black:0px 8px 0 #000000;
}

*{
    font-family: var(--text-font);
}

html{
    font-size: 62.5%;
}

.cursor-pointer{
    cursor: pointer;
}

p, span, li, button, input{
    font-size: 1.4rem;
}


/*Burger-menu*/
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
      background: #bdc3c7;
    }
    
    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
        position: fixed;
        height: 100%;
    }
    
    
    
    /* General sidebar styles */
    .bm-menu {
        background: #ffffff;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
    }
    
    @media screen and (max-width: 450px) {
        .bm-menu {
            width: 100vw;
            position: absolute;
            right: 0;
        }
    }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }